openapi: 3.0.1
info:
  title: 'STD21024'
  description: Hello world!
  version: 1.0.0
servers:
  - url: https://STD21024.com

paths:
  /student: 
    get:
      tags:
        - Student
      summary: Get all students
      operationId: getStudent
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: page_size
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: List of students
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CreateStudent'
        '400':
          description: Bad request
    post:
      tags:
        - Student
      summary: Create new students
      operationId: createStudent
      description: Create new students from an array
      requestBody:
        description: Student to be created
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Student'
        required: true
      responses:  
        '200':
            description: List of students
            content:
              application/json:
                schema:
                  type: array
                  items:
                    $ref: '#/components/schemas/CreateStudent'
        '400':
            description: Bad request
  /students/{id}:
    get:
      tags: 
        - Student
      summary: Get a student by id
      operationId: getStudentById
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: A student
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Student'
        '400':
          description: Bad request
    delete:
      tags:
        - Student
      summary: Delete a student by id
      operationId: DeleteStudentById
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: Student deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  200:
                    type: string
                    example: Ressource deleted
  /courses: 
    get:
      tags:
        - Courses
      summary: Get all courses
      operationId: getCourse
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: page_size
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: List of courses
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Course'
        '400':
          description: Bad request
    post:
      tags:
        - Courses
      summary: Create new course
      operationId: createCourse
      description: Create new students from an array
      requestBody:
        description: Course to be created
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Course'
        required: true
      responses:  
        '200':
            description: List of courses
            content:
              application/json:
                schema:
                  type: array
                  items:
                    $ref: '#/components/schemas/CreateStudent'
        '400':
            description: Bad request
  /courses/{id}:
    get:
      tags: 
        - Courses
      summary: Get a course by id
      operationId: getCoursesById
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: A course
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Course'
        '400':
          description: Bad request
    delete:
      tags:
        - Courses
      summary: Delete a course by id
      operationId: DeleteCourseById
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: Course deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  200:
                    type: string
                    example: Ressource deleted          
components:
  schemas:
    CreateStudent:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
      xml:
        name: CreateStudent
    Student:
      type: object
      properties:
        name:
          type: string
      xml:
        name: Student
    Course:
      type: object
      properties:
        id:
          type: integer
        code:
          type: string
          example: EL1P1
        name: 
          type: string
          example: API
        Teacher:
          type: string
          example: Ryan Andriamahery
        CreatedDate:
          type: string
          
